@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-raised-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 170px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }